.aside {
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  align-self: flex-start;
  max-width: 200px;

  //background-color: rgba(191, 208, 245, 0.1);
  //outline: solid 1px lightgrey;
  border-radius: .2rem;

  color: var(--black-v2);
  font-size: 18px;

  --aside-active: #9263ff;
  --margin: 6px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: left;
    transition: all .1s;

    margin-top: var(--margin);

    user-select: none;
    &:hover {
      color: var(--aside-active);
    }

    i {
      font-size: 16px;
      align-self: center;
      color: dimgrey;
      text-shadow: 1px 1px 3px lightgrey;
    }
  }
}

@media screen and (max-width: 426px) {
  .aside {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    align-self: flex-start;
    max-width: 100%;

    font-size: 22px;
    margin-top: 20px;
  }
  .item {
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 1px 1px 3px lightgrey;
  }
  .sub_item {
    padding: 6px 6px 6px 23px;
  }
}

.list, .sub_list {
  display: grid;
  grid-auto-flow: row;
}

.list > li:nth-child(1){margin-top: 0;}

.item {
  cursor: pointer;
  div {
    display: grid;
    grid-template-columns: 18px auto;
    column-gap: 5px;
  }
}

.sub_list {
  position: relative;
  overflow: hidden;
  //max-height: 0;

  transition: all .5s;

  &:after {
    display: block;
    position: absolute;
    top: calc(var(--margin) - 1px);
    left: 7px;
    content: '';
    width: 2px;
    height: calc(100% - var(--margin));

    background-color: lightgrey;
  }
}

.sub_item {
  padding-left: 23px;
  font-size: .95em;
  cursor: pointer;

  &:nth-last-child(1) {
    //margin-bottom: var(--margin);
  }
}

.active {
  color: var(--aside-active);

  i {
    color: var(--aside-active) !important;
  }
}
