.header_wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  pointer-events: none;
}
.header{
  display: grid;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;

  padding: 20px 50px;
  z-index: 3;
  border-bottom: 1px solid rgba(211, 211, 211, 0);

  transition: all .8s;

  pointer-events: auto;
  nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    .col_1, .col_2{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    }
    .col_1{
      justify-content: left;
    }
    .col_2{
      justify-content: right;
    }
    .nav_item{
      position: relative;
      padding: 12px 12px;
      font-weight: 500;
      text-align: center;
      font-family: var(--roboto);
      white-space: nowrap;
      &:after{
        display: block;
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        left: 50%;
        background-color: whitesmoke;
        transition: all .3s;
      }
      &:hover{
        &:after{
          width: calc(100% - 24px);
          left: 12px;
        }
      }
    }
    .auth{
      //display: none;
    }
  }
}
.header_i{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  font-size: 1.4em;
  color: whitesmoke;
  text-shadow: 1px 1px 2px grey;

  pointer-events: auto;
}
.toggle_menu{
  left: 0 !important;
  background-color: rgba(45, 45, 45, 0.9) !important;
}

.header_fixed{
  height: 50px;
  padding: 2px 50px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 1px 3px lightgrey;
  //transition: none;
  //animation: header_fade_in_top forwards 1s;

  nav {
    .nav_item {
      &:after {
        background-color: var(--black-v2);
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .header{
    position: fixed;
    height: auto;
    padding: 50px 20px 20px;
    background-color: rgba(45, 45, 45, 0.2);
    backdrop-filter: blur(2px);

    left: 100%;

    transition: ease-in-out all .7s;
    nav{
      grid-template-columns: 1fr;
      margin-top: 10px;
      row-gap: 8px;
      .col_1, .col_2{
        grid-template-columns: 1fr;
        row-gap: 8px;
      }
      .nav_item{
        color: whitesmoke;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: .2rem;
        padding: 12px 12px;
        &:after{
          display: none;
        }
        &:hover{
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
      .auth{
        position: inherit;
        justify-self: stretch;
      }
    }
  }
}